<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMax" value="info" />
        </filter>
		
	</appender>
<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="warn" />
        </filter>
    </appender>


	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/mj.log"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n"></param>
		</layout>
	</appender>
	
	<root>
		
		<priority value="info" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
		
	</root>

</log4j:configuration>  